#set($title = "我的主页")
#set($layout="default/layout/columns_left_sidebar.vm")

<style>
.laydate_box, .laydate_box * {
      box-sizing:content-box;
}

input.laydate-icon,div.laydate-icon{
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
div.laydate-icon{
	text-align: left;
}

#ul_myPosMgr li {padding: 5px;}

.posTable td,th{  vertical-align: middle;    text-align: center;}


.onDetail{background-color: #fcf8e3}
.cdetail{}
.cdetail tr{background-color: #fcf8e3}
.cdetail td{background-color: #fcf8e3;    border: 1px solid #ddd; }
</style>
<script type="text/javascript">
</script>
<div class="shadow-box">
	<div class="filter">
		<ul class="">
			<li><a class="" href="$base/home?method=myPosMgr">我的POS设备</a></li>
			<li><a class="active" href="$base/home?method=myPos">我的POS交易</a></li>
		</ul>
	</div>
	<!-- tab panes -->
	<div class="stream-list">
	
	
		<div style="padding-top: 20px; padding-left: 10px;">
    		<form class="CurForm" action="$base/home?method=myPos" method="post">
    		<input type="hidden" id="pn" name="pn" value="${page.pageNo}" />
    		<ul id="ul_myPosMgr">
				<li>产商：
				<select name="sysSource">
					<option value="瑞银信" #if($!{sysSource}=="瑞银信")selected="selected"#end >瑞银信</option>
					<option value="瑞刷"  #if($!{sysSource}=="瑞刷")selected="selected"#end>瑞刷</option>
				</select>
				</li>
				<li>
					
				</li>
				<li>
					开始日<input name="yearmonthdatestart" onclick="laydate({max:laydate.now(), format: 'YYYY-MM-DD'})" value="$!{yearmonthdatestart}">
					<br><br>
					截止日<input name="yearmonthdateend" onclick="laydate({max:laydate.now(), format: 'YYYY-MM-DD'})" value="$!{yearmonthdateend}" > 
					<input type="button" value="查询" onclick="submitCurForm(1)"  >
				</li>
				<li>
					
				</li>
			</ul>
    		</form>
		</div>
        <div class="pull-out m-t-small">
    		<table id="treeTable" class="posTable table table-striped table-bordered b-t text-small">
                <tr>
                    <th>#</th>
                    <th>交易金额</th>
                    <th>手续费</th>
                    <th>交易时间</th>
                    <th>交易类型</th>
                </tr>
                #foreach($row in $page.results)
				<tr id="t$!{row.id}" class="tdetail">
					<td>$!{velocityCount}</td>
                    <td>$!{row.transacount}</td>
                    <td>$!{row.feeAmt}</td>
                    <td>$!{row.deal_data}<br>$!{row.deal_time}</td>
                    <td>$!{row.dealTypeName}</td>
                </tr>
				<tr id="c$!{row.id}" class="cdetail" style="    ;display:none">
					<td>交易<br>明细</td>
                    <td colspan="4">
						<table id="innrTable" class="posTable table ">
							<tr >
								<td style=" width: 25%;">账户</td>
                                <td style=" width: 25%;">$!{row.moblieNoV}</td>
								<td style=" width: 29%;">终端号</td>
                                <td style=" width: 21%;">尾号$!{row.terminalId.substring(8,12)}</td>
                            </tr>
							<tr >
                                <td>产商</td>
								<td>$!{row.sysSource}</td>
								 <td>银行卡</td>
								<td>尾号$!{row.bankcardNumber.substring(12,16)}</td>
                            </tr>
							<tr >
								<td>订单</td>
								<td>$!{row.serialNumber}</td>
								
                               
            					<td>返积分</td>
								<td>$!{row.point}</td>
                            </tr>
						</table>
					</td>
                </tr>
                #end
            </table>
			
        </div>
        
        
        
        
	</div>
</div>
<div class="text-center clr">
	#pageHtm("home?method=myPos" $page 5)
</div>

<script type="text/javascript">
$(function() {
	// delete
	$('a[data-evt=trash]').click(function () {
		var id = $(this).attr('data-id');

		layer.confirm('确定删除此项吗?', {
            btn: ['确定','取消'], //按钮
            shade: false //不显示遮罩
        }, function(){
			jQuery.getJSON('$base/post/delete/' + id, function (ret) {
				layer.msg(ret.message, {icon: 1});
				if (ret.code >=0) {
					$('#loop-' + id).fadeOut();
					$('#loop-' + id).remove();
				}
			});

        }, function(){

        });
	});
	
	// edit
	$('a[data-evt=edit]').click(function () {
		var id = $(this).attr('data-id');
		window.location.href='$base/post/to_update/' + id;
	});
	
	
	$(".tdetail").click(function(){
		var id = this.id.replace("t","");
		
		$(".cdetail").each(function(){
            $(this).hide();
         });
		
		$(".onDetail").each(function(){
            $(this).removeClass("onDetail");
         });
		 
		 
		$("#c"+id).show("fast");
		$("#t"+id).addClass("onDetail");
		
	});
	
	
	$(".cdetail").click(function(){
		$(this).hide("fast");
	});
})

    function submitCurForm(p){
    	$("#pn").val(p);
    	$(".CurForm").submit();
    }
	
</script>