#set($title = "我的主页")
#set($layout="default/layout/columns_left_sidebar.vm")

<style>
.laydate_box, .laydate_box * {
      box-sizing:content-box;
}

input.laydate-icon,div.laydate-icon{
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
div.laydate-icon{
	text-align: left;
}
 

#goods li{float: left;margin:15px; width: 210px;    padding: 2px;}
.goodsOnhover{background-color: #E2DEFF;    border: 2px solid #61BB8D;}
</style>
<script type="text/javascript">
    
    function submitCurForm(p){
    	$("#pn").val(p);
    	$(".CurForm").submit();
    }
    
</script>
<div class="shadow-box">
	<div class="filter">
		<ul class="">
			<li><a class="active" href="$base/home/point">我的积分</a></li>
			<li><a class="" href="$base/home/pointDetail">积分明细</a></li>
			<li><a class="" href="$base/home/goodsOtherLst">兑换订单</a></li>
		</ul>
	</div>
	<!-- tab panes -->
	<div class="stream-list">
		<div style="padding : 20px; ">
			
			<h4 >
				当前可用积分：$!{point.curPoint}
            </h4>
		</div>
		
		<div style="padding : 20px; ">
			<h5 >
				我的积分规则
            </h5>
			<table id="treeTable" class="table table-striped table-bordered b-t text-small">
                <tr>
                    <th>#</th>
                    <th>刷卡方式</th>
                    <th>积分系数</th>
                    <th>开始时间</th>
                    <th>截至时间</th>
                    <th>范围</th>
                </tr>
                #foreach($row in $prLst)
				<tr>
                    <td>$!{velocityCount}</td>
                    <td>$!{row.reserve4}</td>
                    <td>$!{row.ratio}%</td>
                    <td>$!{row.startTime}</td>
                    <td>$!{row.endTime} </td>
                    <td>
					#if($!{row.reserve2}==0)
						全员专享
					#else
						个人专享
					#end
					</td>
                </tr>
                #end
            </table>
		</div>
	</div>
	
	
		<!-- tab panes -->
	<div class="stream-list" style="padding-left: 20px">
		<ul id="goods">
				 #foreach($row in $page.results)
				<li class="goodsOnhover">
					<a href="$base/home/goodsDetail?id=$!{row.id}">
						<img width="210px" src="$base$!{row.mainPic}" />
						<div>
							<span>$!{row.name}</span><br/>
							<span style="text-decoration: line-through;color: #999;">市场参考价：$!{row.reserve2} RMB</span><br/>
							<span>积分兑换价：$!{row.price}</span><br/>
							<span>剩余库存：$!{row.storeNum}</span>
						</div>
					</a>
				</li>                    
                #end
			</ul>
	</div>
</div>

<script type="text/javascript">
$(function() {
})
</script>