#set($title="关于我们")

<div class="shadow-box">
	<h1 class="post-title">关于我们</h1>
	<div class="clearfix post-other">
		<span class="pull-left author">
			官方团队
		</span>
	</div>
	<div class="post-frame">
		<div class="post-content">
			<p><strong>关于51信呗</strong><br/></p>
			<p>16年的春天，我成功的把卡债清理完毕。从一个卡奴变成一个卡友，今天，我想建一个网站，这个网站是为了广大卡友服务的。让大家一起来降低用卡成本，不受中介忽悠，拒绝所有付费VIP。让我们用互联网的方式，免费把付费的VIP资讯提供给广大卡友，祝你早日从一个卡奴变成一个卡友！信呗，让信任节省你的成本！</p>
			<p><strong>我是谁</strong><br/></p>
			<p>15年，偶然地和信用卡的有了大量的交集，申卡，撸钱，提额，拆东墙补西墙成为每天生活的主旋律。在此期间，一个人搞非常的孤独，信息也非常闭塞，迷茫之下加入了多个付费玩卡组织，不过大抵都是骗取入群会员费的人多，真正提供技术的少，最大的收获或许就是群里的热心Q友的指点。随着了解的深入，慢慢的也知道，所谓中介技术，不过是层窗纱纸，靠的就是谁先发现各大银行的市场营销活动，然后自己先狠狠的赚一笔，撸个一两天再把信息抛出来。比方快卡通道，提额口子等这些在某个时间段内是真的非常容易办理成功的。玩了一年多，结识了很多全国各地的热心卡友，积累了大量信用卡知识，获取一手靠谱资讯的渠道。期间也发现了一些赚钱的门道，比如撸P2P返利,外卖单子，银联活动，信用卡积分活动等等。也许你清债成为一个卡友后想一把削掉所有的信用卡，但是我认为，卡友才是你用信用卡开始的时候，给予一次信任，跟着我们一同前往赚外快的世界。多的不敢说，一个月1K的收入跑不了。</p>
			<p><strong>知识产权</strong><br/></p>
			<p>网站内容来自用户自行发起，或转载于互联网，如有涉及到版权问题，请告诉我们，我们将会对其进行删除处理</p>
		</div>
		<div class="post-footer">
		</div>
	</div>
</div>