#set($title="加入我们")

<div class="shadow-box">
	<h1 class="post-title">联系我们</h1>
	<div class="clearfix post-other">
		<span class="pull-left author">
			官方团队
		</span>
	</div>
	<div class="post-frame">
		<div class="post-content">
			<p><strong>联系我们</strong></p>
			<p>友情链接交换、意见反馈、商业合作, 您可以
<a target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=aREABwsMAFxYKRgYRwoGBA" style="text-decoration:none;"><img src="http://rescdn.qqmail.com/zh_CN/htmledition/images/function/qm_open/ico_mailme_11.png"/></a>			
</p>
			<p><strong>加入我们</strong><br/></p>
			<p>如果你和我们有一样的兴趣爱好，加入我们的交流群。</p>
			<p>QQ群：511502915 
<a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=ded167cbc29e67d628cf0108371b05b97542822e0691f9609f1ac1bee302a570"><img border="0" src="http://pub.idqqimg.com/wpa/images/group.png" alt="51信呗官方交流群" title="51信呗官方交流群"></a>
</p>

		</div>
		<div class="post-footer">
		</div>
	</div>
</div>