#set($layout = "/admin/layout/default.vm")
<script type="text/javascript" src="$base/assets/vendors/laydate/laydate.js"></script>
<script type="text/javascript">
    $(function(){
        var option = {
            expandLevel : 4,
        };
        $('#treeTable').treeTable(option);
    });
    
    function submitCurForm(p){
    	$("#pn").val(p);
    	$(".CurForm").submit();
    }
    
    function sync(curObj){
    	curObj.disabled = true;
    	$.post("$base/admin/cardTransactionRecord/sync", $(".CurForm").serializeArray(),
          function(data){
          curObj.disabled = false;
		});
    }
</script>

<style>
.laydate_box, .laydate_box * {
      box-sizing:content-box;
}

input.laydate-icon,div.laydate-icon{
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
div.laydate-icon{
	text-align: left;
}
</style>

<div class="panel m-t-large m-b">
    <header class="panel-heading">商品管理</header>
    <div class="panel-body">
    	<div>
    		<form class="CurForm" action="$base/admin/goods/list" method="post">
    		<input type="hidden" id="pn" name="pn" value="${page.pageNo}" />
    		<ul>
				<li>产商：
				<select name="sysSource">
					<option value="瑞银信" select="select">瑞银信</option>
					<option value="瑞刷" select="select">瑞刷</option>
				</select>
				</li>
				<li>
					开始日：<input name="yearmonthdatestart" onclick="laydate({ format: 'YYYYMMDD'})" >
					截止日：<input name="yearmonthdateend" onclick="laydate({ format: 'YYYYMMDD'})"  > 
				</li>
				<li>
					手机号码：<input name="mobile" >
				</li>
				<li>
					<input type="button" value="同步数据" onclick="sync(this)"  >
					<input type="button" value="查询" onclick="submitCurForm(1)"  >
				</li>
			</ul>
    		</form>
		</div>
        <div class="pull-out m-t-small">
            <table id="treeTable" class="table table-striped table-bordered b-t text-small">
                <tr>
                    <th class="col-lg-1">#</th>
                    <th>手机号码</th>
                    <th>终端编号</th>
                    <th>交易金额</th>
                    <th>手续费</th>
                    <th>交易日期</th>
                    <th>交易时间</th>
                    <th>交易类型</th>
                    <th>银行卡号</th>
                    <th>刷卡平台</th>
                    <th>交易流水号</th>
                    <th>所属代理</th>
                    #if($shiro.hasPermission("friendLink:edit"))
                        <th width="300" class="col-lg-2">操作</th>
                    #end
                </tr>
                #foreach($row in $page.results)
                    <td>$!{velocityCount}</td>
                    <td>$!{row.moblieNoV}</td>
                    <td>$!{row.terminalId}</td>
                    <td>$!{row.transacount}</td>
                    <td>$!{row.feeAmt}</td>
                    <td>$!{row.deal_data}</td>
                    <td>$!{row.deal_time}</td>
                    <td>$!{row.dealTypeName}</td>
                    <td>$!{row.bankcardNumber}</td>
                    <td>$!{row.sysSource}</td>
                    <td>$!{row.serialNumber}</td>
                    <td>$!{row.agencyName}</td>
                    #if($shiro.hasPermission("friendLink:edit"))
                        <td class="text-center">
                            <a href="$base/admin/cardTransactionRecord/edit?id=${row.id}" class="btn btn-mini btn-primary">
                                <i class="fa fa-check-square-o"></i> 修改
                            </a>
                            <a href="$base/admin/cardTransactionRecord/delete?id=${row.id}" class="btn btn-mini"><i class="fa fa-check-square-o"></i> 删除</a>
                        </td>
                    #end
                </tr>
                #end
            </table>
            
        </div>
    </div>
	
	<footer class="panel-footer">
		<div class="row">
			#if($shiro.hasPermission("posts:edit"))
			<div class="col-lg-6">
				<a href="javascrit:void(0);" class="btn btn-mini btn-success" data-action="batch_del">批量删除</a>
			</div>
			#end
			<div class="col-lg-6 text-right text-center-sm">    
				#pageHtm("list" $page 5)
			</div>
		</div>
	</footer>
</div>
