#set($layout = "/admin/layout/default.vm")

<div class="col-lg-6">
    <div class="panel m-t-large m-b">
        <header class="panel-heading">积分调整</header>
        <div class="panel-body">
            <form id="qForm" class="form-horizontal" method="post" action="save">
                <input type="hidden" name="id" value="#if($point)$!point.id#else 0#end">
                <div class="form-group">
                    <label class="col-lg-2 control-label">当前积分:$!{point.curPoint}</label>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">本次增加积分</label>
                    <div class="col-lg-5">
                        <input type="text" name="addPoint" class="form-control" value="" placeholder="正值为增加，负值为减少" onblur="setAfterPointView(this.value)">
                        调整后积分:<span id="afterPoint"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">调整原因</label>
                    <div class="col-lg-8">
                        <textarea rows="3" class="form-control" name="sourceDesc" class="form-control"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-9 col-lg-offset-3">
                        <button type="submit" class="btn btn-primary btn-small">提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(function() {
        $("#qForm").validate();
    })
	
	function setAfterPointView(val){
	var _curPoint = $!{point.curPoint};
	$("#afterPoint").val(_curPoint+val);
	}
</script>